.r-container{
    overflow: hidden;
    position: relative;
    background-color: #B931FC;
}




.r-head{
margin-bottom: 2rem;
}
.r-card{
    gap:0.6rem;
    padding:1rem;
    border-radius: 10px;
    max-width: max-content;
    background-color: #FFE4D6;
    margin: auto;
    transition: all 300ms ease-in;

}
.r-card>img{
    width: 100%;
    max-width: 15rem;
    border-radius: 6px;
}

.r-card>:nth-child(2){
   font-size: 1.2rem;
    font-weight: 600;

}

.r-card>:nth-child(3){
    font-size: 1.5rem;
 
 }

 .r-card>:nth-child(4){
    font-size: 0.7rem;
    width:15rem;
 
 }

 .r-card:hover{
    scale:1.025;
    cursor: pointer;
    background-color: #F4E869;
    box-shadow:0px 72px 49px 51px #f4ce1461 ;
 }

 .r-button{
    position: absolute;
    gap: 1rem;
    top: -4rem;
    right: 0;
 }

 .r-button button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: blueviolet;
    border: none;
    border-radius: 5px;
    background-color: aliceblue;
    cursor: pointer;
 }

 .r-button>:nth-child(1){
    background-color: bisque;
 }

 .r-button>:nth-child(2){
    box-shadow:0px 72px 49px 51px #D988B9 ;
 }
 .r-button>:nth-child(2):hover{
   scale:1.025;
}
.r-button>:nth-child(1):hover{
   scale:1.095;
}

 .swiper-horizontal{
   overflow: visible!important;
 }

 