body ,html{
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
}

.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}



.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}
.FlexColSatrt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.FlexColCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.secondaryText{
  color: rgb(88, 79, 79);
  font-size: 0.9rem;
}

.orangeText{
  color: orange;
  font-size:1.5rem;
  font-weight:600
}

.primarText{
  color: #776138;
  font-size:2rem;
  font-weight:bold
}


.button {
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: white;
  background-color: #F8F0E5;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
  width: fit-content;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width:1536px) {
  .innerWidth {
      max-width: 1280px;
      margin: auto;
  }
}

@media (min-width:640px) {
  .paddings {
      padding: 4rem;
  }
}

@media (min-width:1280px),
(min-width:768px) {
  .paddings {
      padding: 2rem;
  }
}


